html {
    font-family: 'Rubik', sans-serif;
    background: #505661;
}

section {
    max-width: 300px;
    margin: 80px auto;
    position: relative;
}

.cursive-text {
    font-family: 'Kaushan Script', cursive;
    text-transform: capitalize;
}
 
.header-fixed {
    color: #E57996;
    position: absolute;
    top: -52px;
    left: -42px;
    transform: rotateZ(-13deg);
}

h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.board {
    margin-bottom: 20px;
}

.btn-game {
    background-color: #505661;
    border: none;
    outline: none;
    width: 100px;
    height: 100px;
    font-size: 60px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.btn-game:nth-child(2n) {
    border-left: 1px #E3E3EB solid;
    border-right: 1px #E3E3EB solid;
}

.row {
    border-bottom: 1px #E3E3EB solid;
}

.row:nth-child(3) {
    border: none;
}

p {
    color: white;
    text-align: center;
}

.X {
    color: #E57996;
    transition: all 0.2s cubic-bezier(0.51, 0.2, 0.16, 1.98);
    ;
}

.O {
    color: #32ABE1;
    transition: all 0.2s cubic-bezier(0.51, 0.2, 0.16, 1.98);
}

.btn-reload {
    padding: 10px;
    margin: 30px 0;
    border-radius: 120px;
    border: 1px #E3E3EB solid;
    outline: none;
    color: white;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-reload:hover {
    color: #E57996;
    border: 1px #E57996 solid;
}